.jumbotron {
	position: relative;
}

.jumbotron .container {
	position: relative;
	z-index: 1;
}

.jumbotron h1 {
	color: #fff;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.375);
}

@media (min-width: 576px) {
	.jumbotron {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.background-image:before {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
}

.side-header {
    align-self: flex-start;
    position: sticky;
    top: 30px
}

.list-group-item.secondary {
    font-size: 90%;
    padding-left: 2rem;
}

.list-group-item.third {
    font-size: 80%;
    padding-left: 2.5rem;
}

#page-wrapper {
    display: flex;
    flex-direction: grow;
}
